<!-- v4 -->
<h3 class="card-header">Reset Password</h3>
<div class="card-body">
    <div *ngIf="tokenStatus === 0">Validating token...</div>
    <div *ngIf="tokenStatus === 2">
        Token validation failed, if the token has expired you can get a new one at the
        <a routerLink="../forgot-password">forgot password</a> page.
    </div>
    <form *ngIf="tokenStatus === 1" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control" />
        </div>
        <div class="mb-3">
            <button [disabled]="loading" class="btn btn-primary">Reset Password</button>
            <a routerLink="../login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>